.Main {
  flex-direction: $flex-column;
  flex-grow: 1;
  overflow-y: auto;
  min-height: $height-none;
  box-sizing: border-box;
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: text($text-body, font-size);
  font-weight: text($text-body, font-weight);
  letter-spacing: text($text-body, letter-spacing);
  line-height: $line-height-normal;
}
