.Header {
  flex-shrink: $layout-flex-shrink-header;
  padding: spacing(3) spacing(6);
  box-shadow: $shadow-sm;
  backdrop-filter: saturate(160%) blur(6px);
  background-color: var(--color-surface);
  border-bottom: 1px solid var(--color-border);
  user-select: none;
  display: flex;
  justify-content: $justify-between;
  align-items: $items-center;
}
